.user-order-table{
    font-size: calc(0.6rem + 0.25vw);
}

div.dg.a{
    position: relative;
    margin-top: 100px;
    overflow-x: visible;
}

@-webkit-keyframes bg-animation {
    0% {background-position: right;}
    100% {background-position: left;}
}

body{
    font-family: 'Edu SA Beginner', cursive;
}

body.bg-style {
    -webkit-animation: bg-animation 30s infinite alternate;
    background-image: url('https://kuijunming93.github.io/myWebpage/site/images/extras/bg-wall-1x.jpg');
}

body.bg-style nav{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    letter-spacing: 0.03em;
}

div.blur-window{
    color: white;
    background-color: rgba(50,50,50, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

div.blur-window-dark{
    background-color: rgba(0,0,0, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: white;
}

a.set-default{
    text-decoration: none;
    color: rgb(210,210,210);
}

a.set-default-dark{
    text-decoration: none;
    color: black;
}

.container {
    text-align: center;
    position: relative;
}

.col{
    padding-bottom: 25px;
}

.fixedbutton {
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    z-index: 2;
}

.errorMessage{
    font-weight: bold !important;
}

html, body {
    margin: 0;
    height: 100%;
 }
#webgl{
    width: 100%;
    height: 100%;
    display: block;
    max-height: 600px;
}
@media(max-width:576px){
    #webgl{
        max-height: 300px;
    }
}

/* ANIMATED STYLED BUTTON */
.styled-btn{
    border: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
}

.styled-btn:hover{
    color: #fff;
}

.styled-btn:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: tomato;
}

.styled-btn:hover:before{
    transition: 0.5s all ease;
    border-radius: 6px;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
/* END ANIMATED STYLED BUTTON */

/* MENU ITEMS */
*{
    transition: all 0.3s linear;
}

.item-box{
    border:0.5rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}
.item-box figure img{
    overflow: hidden;
    height:18rem;
    width:22.5rem;
    object-fit: cover;
}
.item-box .item-box-content{
    position: absolute;
    top:-100%; left:0;
    height: 100%;
    width: 100%;
    background:rgba(255,255,255,.6);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    padding-top:3rem;
    text-align: center;
}

.item-box .item-box-content h3{
    font-size: 2rem;
    color:#333;
}
.item-box .item-box-content h4{
    font-size: 1.5rem;
    color:#333;
}
.item-box .item-box-content p{
    font-size: 1rem;
    color:#333;
    padding:1rem 0;
}
.item-box:hover .item-box-content{
    top:0;
}

.item-box .item-box-content button{
    /* width: 30%; */
    height: 25%;
}
/* END MENU ITEMS */

/* GLOSSY BUTTON */
.glossy-button {
    display: inline-block;
    position: relative;
    background-image: linear-gradient( /* chrome */
        hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
        hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2)
    );
    font-size: 1.25rem;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 25px;
    margin: 10px;
    box-shadow:
        inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
        inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
        /* multiple light sources yall */
        -8px 8px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
        5px 18px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
}
.glossy-button:hover {
    transform: scale(1.1);
    box-shadow:
      inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
      inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
      /* multiple light sources yall */
      -12px 12px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
      10px 25px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
}
.glossy-button--blue { background-color: #19F; }
.glossy-button--gold { background-color: rgba(238, 155, 0, 0.863); }
.glossy-button--green { background-color: #6C6; }
.glossy-button--red { background-color: #E21; }
@media(max-width:576px){
    .glossy-button {
        font-size: 0.9rem;
        padding: 0.6rem 0.8rem;
        border-radius: 20px;
        margin: 7px;
    }
    .fixedbutton {
        bottom: 12px !important;
        right: 12px !important;
    }
}
/* END GLOSSY BUTTON */

/* ANIMATING SHOPPING CART BUTTON */
.animateSelect{
    -webkit-transform: translateZ(0);
    -ms-keyframes: translateZ(0);
    -webkit-animation: animateSelect 1s infinite;
    -ms-keyframes: animateSelect 1s infinite;
    background: #FFBA00 !important;
}

@-webkit-keyframes animateSelect{
    0%{filter: brightness(100%);  transform: scale(1.00);}
    50%{filter: brightness(110%);  transform: scale(1.05);}
    100%{filter: brightness(100%);  transform: scale(1.00);}
}
/* END ANIMATING SHOPPING CART BUTTON */

/* IMAGE ZOOM SETUP FOR MENU ITEMS */
figure{
    overflow: hidden;
}

img.image-zoom{
    display: inline-block;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

img.image-zoom:hover{
    border-radius: 6px;
    transform: scale(1.2);
}
/* END IMAGE ZOOM SETUP FOR MENU ITEMS */

/* OFFCANVAS STLYING FOR SHOPPING CART */
.overlay-top-right{
    position: absolute;
    top: 10%;
    right: 10%;
}

.overlay-bottom-left{
    position: absolute;
    bottom: 10%;
    left: 10%;
    text-align: left;
}

.overlay-bottom-right{
    position: absolute;
    bottom: 10%;
    right: 10%;
    text-align: right;
}
/* END OFFCANVAS STLYING FOR SHOPPING CART */

/* LOGIN/SIGN UP FORM FORMATTER */
.wrapper{
    color: #dfe9f5;
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: #fff;
    background-color: rgba(0,0,0,.3);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.wrapper form input{
    width: 85%;
    outline: none;
    border: none;
    background: #dfe9f5;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.wrapper button{
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 85%;
    background: tomato;
    color: #fff;
    cursor: pointer;
}

.wrapper p{
    font-weight:lighter;
    font-size: 80%;
}

.not-member a{
    color: tomato;  
    text-decoration: none;
}

img.image-blur{
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.text-image-overlay{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(min-width:992px) and (max-width:1260px){
    .wrapper{
        color: #dfe9f5;
        width: 300px;
        padding: 2rem 0 1rem 0;
        margin: 50px auto;
        background: #fff;
        background-color: rgba(0,0,0,.3);
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    }
    .wrapper form input{
        width: 80%;
        outline: none;
        border: none;
        background: #dfe9f5;
        padding: 8px 10px;
        margin-bottom: 8px;
        border-radius: 8px;
    }
    .wrapper-title{
        font-size: 80%;
    }
    .wrapper button{
        font-size: 0.9rem;
        margin-top: 1rem;
        padding: 4px 0;
        border-radius: 5px;
        outline: none;
        border: none;
        width: 85%;
        background: tomato;
        color: #fff;
        cursor: pointer;
    }
    .wrapper p{
        font-weight:lighter;
        font-size: 70%;
    }
}

@media(max-width:576px){
    .wrapper .text-image-overlay{
        top: 10%;
        padding-top: 0px;
    }
    .wrapper{
        color: #dfe9f5;
        width: 300px;
        padding: 2rem 0 0rem 0;
        margin: 50px auto;
        background: #fff;
        background-color: rgba(0,0,0,.3);
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    }
    .wrapper form input{
        width: 80%;
        outline: none;
        border: none;
        background: #dfe9f5;
        padding: 4px 5px;
        margin-bottom: 8px;
        border-radius: 8px;
    }
    .wrapper-title{
        font-size: 80%;
    }
    .wrapper button{
        font-size: 0.9rem;
        margin-top: 0;
        padding: 4px 0;
        border-radius: 5px;
        outline: none;
        border: none;
        width: 85%;
        background: tomato;
        color: #fff;
        cursor: pointer;
    }
    .wrapper p{
        font-weight:lighter;
        font-size: 70%;
    }
}
/* END LOGIN/SIGN UP FORM FORMATTER */

/* PAGE LOADER */
.loader{
    position: fixed;
    top:0; left: 0;
    z-index: 3;
    background: white;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    height:100%;
    width:100%;
}
/* END PAGE LOADER */

/* REVIEW RATING */
.star-widget{
  align-items: center;justify-content: center;
}
.star-widget label{
    font-size: 1.5rem !important;
    color: #444;
    padding: 5px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover ~ label,
input:not(:checked) ~ label:hover
{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
input#rate-2:checked ~ label{
    color: orangered;
    /* text-shadow: 0 0 20px #952; */
}
input#rate-5:checked ~ label{
    color: orange;
    /* text-shadow: 0 0 20px #952; */
}
/* END REVIEW RATING */

/* MENU CARD BODY DETAIL VIEW */
.menu-card-img{
    padding-left: 30px;
    position: relative;
}
.menu-card-badge{
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: 1;
}
.menu-card-body{
    padding-right: 10px;
}
.menu-card-body .card-title{
    font-size: 3rem;
}
.menu-card-body .card-subtitle{
    font-size: 2.5rem;
}
.menu-card-body .card-text{
    font-size: 1.5rem;
    font-style: italic;
}
.menu-card-body .styled-btn{
    width: 50%;
    font-size: 1.4rem;
}
@media(min-width:576px) and (max-width:992px){
    .menu-card-img{
        padding-left: 25px;
    }
    .menu-card-body .card-title{
        font-size: 1.5rem;
    }
    .menu-card-body .card-subtitle{
        font-size: 1.2rem;
    }
    .menu-card-body .card-text{
        font-size: 1rem;
    }
    .menu-card-body .styled-btn{
        width: 45%;
        font-size: 1.1rem;
    }
}
@media(max-width:576px){
    .menu-card-img{
        padding-left: 0px;
    }
    .menu-card-body{
        padding-right: 0px;
    }
    .menu-card-body .card-title{
        font-size: 1rem;
    }
    .menu-card-body .card-subtitle{
        font-size: 0.9rem;
    }
    .menu-card-body .card-text{
        font-size: 0.8rem;
    }
    .menu-card-body .styled-btn{
        font-size: 0.8rem;
        width: 60%;
    }
}
/* END MENU CARD BODY DETAIL VIEW */

/* MAIN PAGE ITEMS */

.main-box{
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}
.main-box figure img{
    overflow: hidden;
    object-fit: cover;
}
.main-box .main-box-content{
    position: absolute;
    top: 50%; left: 100%;
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding-top:3rem;
    text-align: center;
    align-items: center;
}

.main-box .main-box-content{
    color:white;
}

.main-box .main-box-content p{
    color:rgba(190,190,190);
}

.main-box:hover .main-box-content{
    left:0;
}
@media(min-width:720px) and (max-width:992px){
    .main-box .main-box-content{
        padding-top:2rem;
        top: 40%;
    }
    .main-box .main-box-content h1{
        font-size: 1.75rem;
    }
    .main-box .main-box-content h2{
        font-size: 1.4rem;
    }
    .main-box .main-box-content p{
        font-size: 1rem;
    }
}
@media(max-width:720px){
    .main-box .main-box-content{
        padding-top:1.5rem;
        top: 40%;
    }
    .main-box .main-box-content h1{
        font-size: 1.4rem;
    }
    .main-box .main-box-content h2{
        font-size: 1.2rem;
    }
    .main-box .main-box-content p{
        font-size: 0.9rem;
    }
}
@media(max-width:420px){
    .main-box .main-box-content{
        padding-top:1rem;
        top: 30%;
    }
    .main-box .main-box-content h1{
        font-size: 1.2rem;
    }
    .main-box .main-box-content h2{
        font-size: 1rem;
    }
    .main-box .main-box-content p{
        font-size: 0.8rem;
    }
}

/* END MAIN PAGE ITEMS */

/* FOOTER */
@media(min-width:1260px){
    figure.footer-resize{
        margin-top: 6rem !important;
        margin-bottom: 6rem !important;
    }
}
.footer{
    background-color: rgba(30,30,30, 0.95);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    height: auto;
}
.footer p{
    margin-top: -5px;
}

.footer-box{
    position: relative;
    overflow: hidden;
}
.footer-box figure img{
    overflow: hidden;
    object-fit: cover;
}
.footer-box .footer-box-content{
    position: absolute;
    top: 0%; right: 100%;
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,.6);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    text-align: center;
    align-items: center;
}

.footer-box .footer-box-content{
    color:white;
}

.footer-box .footer-box-content p{
    color:rgba(190,190,190);
}

.footer-box:hover .footer-box-content{
    right:0;
}
div.scroll {
    margin:0px;
    padding:0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
/* END FOOTER */

@media(max-width:420px){
    div.blur-window{
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    div.blur-window-dark{
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}