{% extends 'base.html'%}

{% block base %}
<div class="container"> <!-- TITLE AND BREADCRUMB -->
    <div class="row mt-4">
        <h1>Menu</h1>
    </div>
    <div class = "row mt-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'mainApp:home' %}" class="set-default">&nbsp;&nbsp;Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Menu</li>
            </ol>
        </nav>
    </div><hr>
</div> <!-- END TITLE AND BREADCRUMB -->

<div class="container">
    {% for item in menu_list %}
    <div class="d-none d-lg-block d-xl-block d-xxl-block"> <!-- VIEW FOR LARGE SIZE AND ABOVE -->
        <div class="row align-items-end">
            <div class="col-2"></div>
            <div class="col-4">
                <figure>
                    <a href="/mainApp/menu/{{item.pk}}">
                        <img src="{{item.imgPath}}" class="rounded float-start image-zoom" style="max-width: 300px; max-height: 200px;">
                    </a>
                </figure>
            </div>
            <div class="col-4">
                <div class="container">
                    <div class="row align-items-end">
                        <div class="col-11">
                            <div class="d-flex"><h4>{{item.name}}</h4></div>
                            <div class="d-flex"><h6>S${{item.price}}</h6></div>
                            <div class="d-flex" style="font-weight: lighter; font-style: italic;">"{{item.description}}"</div>
                        </div>
                        <div class="col-1 justify-content-end">
                            <div class="d-flex">
                                <button data-product="{{item.id}}" data-action= "add" 
                                    type="button" class="btn btn-warning update-cart"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div> <!-- END VIEW FOR LARGE SIZE AND ABOVE -->
    <!-- VIEW FOR SMALL SIZE AND BELOW -->
    <div class="menu-mini-view d-xs-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
        <div class="row d-flex justify-content-center">
            <div class="col col-sm-auto">
                <!-- <a href="" style="text-decoration: none;"> -->
                <div class="card" style="width: 25rem;">
                    <figure>
                        <img src="{{item.imgPath}}" class="rounded card-img-top image-zoom" alt="...">
                    </figure>
                    
                    <!-- <button type="button" data-product="{{item.id}}" data-action= "toggle" 
                    class="js-toggle-btn" style="padding: 0;border: none;background: none">
                        nil
                    </button>
                    <div class="js-itemToggle-{{item.id}}"></div> -->
                    <!-- JSInjection here for toggling effects -->
                    
                    <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle">S${{item.price}}</h6>
                    <p class="card-text">{{item.description}}</p>
                    <button data-product="{{item.id}}" data-action= "add" 
                        type="button" class="btn btn-warning update-cart">Add To Cart <i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
                <!-- </a> -->
            </div>
        </div>
    </div><hr>
    {% endfor %}
</div>
{% endblock %}

